name: Deploy to Production

on:
  pull_request:
    branches:
      - production
    types:
      - closed

jobs:
  deploy-production:
    runs-on: ubuntu-latest
    environment: production
    if: github.event.pull_request.merged == true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x

      - name: Restore
        run: dotnet restore Clean-API.sln

      - name: Build
        run: dotnet build Clean-API.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish Clean-API.sln --configuration Release --no-build -o ./publish

      - name: Deploy to Production Environment
        run: |
          echo "Deploying to Production Environment..."
          echo "Publish output is in ./publish"
