name: Pull Request Checks

on:
  pull_request:
    branches: [development, production]

jobs:
  pr-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x

      - name: Check code formatting
        run: dotnet format --verbosity diagnostic --verify-no-changes

      - name: Restore dependencies
        run: dotnet restore --disable-parallel

      - name: Build solution
        run: dotnet build --no-restore --configuration Release

      - name: Run tests
        run: dotnet test --no-build --verbosity normal --no-restore --configuration Release
